#AddShelterFirstFormOut{

    width: 100%;
    height: 110px;
    margin:0 auto;
    

}

#AddShelterFirstFormBoxOut{
    float: left;
    width: 100%;
    height: 50px;
  
}


#AddShelterFirstFormBoxLeftOut{
    height: 100%;
    width: 50%;
    float: left;



}

#AddShelterForm{
    float: left;
    width: 100%;
    height: 110px;
 

}

#FormFirstBoxOut{
    float: left;
    height: 300px;
    width: 100%;

}

#AddShelterFirstAll{
    width: 100%;
    float: left;
    
    height:110px;

}

#AddShelterFirstLatValue{
    width: 100%;
    height: 70%;
}

#AddShelterFirstLngValue{
    width: 100%;
    height: 70%;
}


#AddShelterFirstFormButtonOut{
    width: 100%;
    height: 25px;
    float: left;
    


}

#AddShelterFormTopBoxTextOut{
    width: 80%;
    height: 14px;
    margin:0 auto;
    
   
}

#space{
    float: left;
    width: 100%;
    height: 10px;


}

#AddShelterFormTopBoxInputIn{
    width: 80%;
    margin:0  auto;
    height: 100%;
    

}

#AddShelterFormTopBoxInputOut{
    width: 100%;
    height: 25px;
    float: left;
    


}

#AddShelterFormTopBoxTextIn{
    width: 30%;
    font-size:11px;
    height: 100%;
    float: left;
   


}

.AddShelterFirstFormBox{
   
    width: 20%;
    height: 25px;
    margin:0 auto;
   


}


#AddShelterFirstFormButton{
    width: 100%;
    height: 100%;
    background-color:#19bd9a;
    border: none;
    border-radius: 5px;
    color: white;

}