#ShowAllCloseSheltersFirstAll{

    width: 100%;
    float: left;
    
    height:110px;
}


#ShowAllCloseSheltersFormOut{


    width: 100%;
    height: 110px;
    margin:0 auto;
    
}


#ShowAllCloseSheltersForm{


    float: left;
    width: 100%;
    height: 110px;
}